<h1>Motoristas</h1>

<p *ngIf="!motoristas"><em>Carregando...</em></p>

<div class="commands text-right" *ngIf="motoristas">
  <button type="submit"
          [routerLink]="['/motorista']"
          class="btn btn-success">
      Inserir
  </button>
</div><br/>

<table *ngIf="!motoristas" mat-table [dataSource]="motoristas" class="mat-elevation-z8"
 [hidden]="!motoristas">
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let motorista">
      <a [routerLink]="['/motorista', motorista.id]">{{motorista.nome}}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="cpf">
    <th mat-header-cell *matHeaderCellDef>Cpf</th>
    <td mat-cell *matCellDef="let motorista">
      {{motorista.cpf}}
    </td>
  </ng-container>

  <ng-container matColumnDef="rg">
    <th mat-header-cell *matHeaderCellDef>RG</th>
    <td mat-cell *matCellDef="let motorista">
      {{motorista.numeroRegistroGeral}}
    </td>
  </ng-container>

  <ng-container matColumnDef="Acao">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let motorista" style="text-align: right;">
      <button mat-button color="primary" (click)="excluir(motorista.id)" [disabled]="excluindoMotorista" >
        Excluir
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Pagination directive -->
<mat-paginator *ngIf="!motoristas" [hidden]="!motoristas"
    [pageSize]="10"
    [pageSizeOptions]="[10, 20, 50]"
    showFirstLastButtons></mat-paginator>

