<h1>Marcas de Caminhão</h1>

<p>Lista das Marcas de caminhão cadastradas.</p>

<p *ngIf="!marcasCaminhao"><em>Carregando...</em></p>

<div class="commands text-right" *ngIf="marcasCaminhao">
  <button type="submit"
          [routerLink]="['/marcaCaminhao']"
          class="btn btn-success">
      Inserir
  </button>
</div><br/>

<table mat-table [dataSource]="marcasCaminhao" class="mat-elevation-z8"
 [hidden]="!marcasCaminhao">
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let marca">
      <a [routerLink]="['/marcaCaminhao', marca.id]">{{marca.descricao}}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="Acao">
    <th mat-header-cell *matHeaderCellDef>Ação</th>
    <td mat-cell *matCellDef="let marca">
      <button mat-button color="primary" (click)="excluir(marca.id)" [disabled]="excluindoMarca" >
        Excluir
      </button>
    </td>
  </ng-container>

  <!-- <ng-container matColumnDef="Acao">
    <th mat-header-cell *matHeaderCellDef>Ação</th>
    <td mat-cell *matCellDef="let marca">
      <button mat-button color="primary" (click)="excluir(marca.id)" [disabled]="excluindoMarca" >
        Excluir
      </button>
    </td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Pagination directive -->
<mat-paginator [hidden]="!marcasCaminhao"
    [pageSize]="3"
    [pageSizeOptions]="[10, 20, 50]"
    showFirstLastButtons></mat-paginator>
